Flask==1.1.2
Flask-Cors==3.0.8
h5py==2.10.0
ipykernel==5.3.0
ipython==7.14.0
joblib==0.15.1
Keras-Preprocessing==1.1.2
notebook==6.0.3
numpy==1.18.4
pandas==1.0.3
pandas-datareader==0.8.1
pickleshare==0.7.5
Pillow==7.1.2
requests==2.23.0
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.2.0
tensorflow-estimator==2.2.0
Werkzeug==1.0.1
